#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

li {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex: 2 1;
    border-bottom: 1px solid whitesmoke;
    border-radius: 1rem;
}

ul {
    min-width: 356px;
    min-height: 256px;
}
button {
    margin: 0.25rem;
}
input {
    margin: 0.25rem;
    outline: none;
    border: none;
    border-radius: 2rem;
    padding: 0.5rem;
    width: fit-content;
}

.adderDealer {
    display: flex;
    flex-direction: column;
}
